[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
fastapi = "*"
uvicorn = "*"
pymongo = "*"
python-decouple = "*"
pytz = "*"
pytesseract = "*"
opencv-python-headless = "*"
schedule = "*"
secure-smtplib = "*"

[dev-packages]

[requires]
python_version = "3.12"
